/* =====================================================================
  -> BUTTON
===================================================================== */
// BUTTON RESET
button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}
// END RESET

.button {
  display: flex;
  align-items: center;
  position: relative;

  color: var(--accent__color);
  background-color: var(--accent__color);
  border-radius: var(--rounded-corners);
  padding: var(--spacer__12) var(--spacer__24);

  transition: all var(--duration__250) var(--easing__s);
  transition-property: color, background-color;

  @include respond-to('small--m') {
    padding-left: var(--spacer__20);
    padding-right: var(--spacer__20);
  }

  &__icon {
    display: flex;
    margin-right: var(--spacer__8);
  }

  &__title {
    color: var(--color__light);
    opacity: 1;

    transition: all var(--duration__250) var(--easing__s);
    transition-property: color, opacity;
  }

  // Prevent Click event on button childs
  & span,
  & p {
    pointer-events: none;
  }

  // Hove, Active, Focus, etc, states
  &--primary {
    --accent__color: var(--color__primary);

    &:hover {
      --accent__color: var(--color__primary--light);
    }
  }

  &--secondary {
    --accent__color: var(--color__secondary);

    &:hover {
      --accent__color: var(--color__secondary--light-01);
    }
  }

  &--tertiary {
    --accent__color: var(--color__tertiary);

    &:hover {
      --accent__color: var(--color__tertiary--light-01);
    }
  }

  &--danger {
    --accent__color: var(--color__danger);

    &:hover {
      --accent__color: var(--color__danger--light);
    }
  }

  .icon--chevron-left {
    margin-right: var(--spacer__12);

    stroke: var(--accent__color);
    transition: stroke var(--duration__250) var(--easing__s);
  }

  &--back-light {
    --accent__color: var(--color__tertiary);
    background-color: transparent;

    & .button__title {
      color: var(--accent__color);
    }

    &:hover {
      --accent__color: var(--color__tertiary--light-02);
    }
  }

  &--back-dark {
    --accent__color: var(--color__light);
    background-color: transparent;

    &:hover {
      --accent__color: var(--color__secondary--light-02);
    }
  }

  &--primary,
  &--secondary,
  &--tertiary,
  &--danger,
  &--back-light,
  &--back-dark {
    // Fallback for Safari
    &:active,
    &:focus {
      outline: 3px dotted var(--accent__color);
      outline-offset: 2px;
    }

    // HACK for use @supports selector() with SASS
    @supports #{'\selector(*:focus-visible)'} {
      &:focus {
        outline: none;
      }

      &:active,
      &:focus-visible {
        outline: 3px dotted var(--accent__color);
        outline-offset: 2px;
      }
    }
  }

  &--back-light,
  &--back-dark {
    // Fallback for Safari
    &:active,
    &:focus {
      outline-offset: -3px;
    }

    // HACK for use @supports selector() with SASS
    @supports #{'\selector(*:focus-visible)'} {
      &:active,
      &:focus-visible {
        outline-offset: -3px;
      }
    }
  }
  // End of states

  // Animated underline
  &--back-dark,
  &--back-light {
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0.35rem;
      left: 1.5rem;

      height: 2px;
      width: calc(100% - 3rem);
      background-color: currentColor;
      transform: scale3d(0, 1, 1);
      transform-origin: 0 100%;
      transition: all var(--duration__250) var(--easing__s);
      transition-property: transform, color;
    }

    &:hover {
      &::after {
        transform: scale3d(1, 1, 1);
        transform-origin: 100% 0;
      }
    }
  }
  // End of animated underline

  // Loader
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &__loader {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    transform: translateY(-50%);
    transition: all var(--duration__250) var(--easing__s);
    transition-property: opacity, transform;

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 0.5rem);
      left: calc(50% - 0.5rem);

      display: block;
      width: 1rem;
      height: 1rem;
      border: 2px solid var(--color__light);
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-radius: 50%;
    }
  }

  &[data-operation-running='true'] {
    color: transparent;
    pointer-events: none;

    & .button {
      &__loader {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 200ms;

        &::after {
          color: var(--color__light);
          animation: rotate 750ms linear infinite;
        }
      }

      &__title {
        opacity: 0;
      }

      &__subtitle {
        opacity: 0;
      }
    }
  }
  // End of loader

  // Rollover text
  &__title {
    &:before {
      content: attr(data-operation-complete);
      position: absolute;
      left: 0;

      width: 100%;
      text-align: center;
      opacity: 0;
      transform: translate(0, 100%);
      transition: transform 400ms, opacity 600ms;
      transition-timing-function: var(--easing__s);
    }
  }

  &__subtitle {
    opacity: 1;
    transition: opacity var(--duration__250) var(--easing__s);
    transition-delay: var(--duration__250);
  }

  &[data-operation-complete='true'] {
    pointer-events: none;

    & .button {
      &__title {
        &:before {
          opacity: 1;
          transform: translate(0, 0);
          transition-delay: 200ms;
        }
      }

      &__subtitle {
        opacity: 0;
      }
    }
  }
  // End of rollover text
}

/* =====================================================================
  -> ANCHOR
===================================================================== */
.anchor {
  display: flex;
  align-items: center;

  color: var(--accent__color);
  border: none;
  border-radius: var(--rounded-corners);
  padding: var(--spacer__8) var(--spacer__8);
  cursor: pointer;
  text-decoration: none;

  &__title {
    color: var(--accent__color);
    transition: color var(--duration__250) var(--easing__s);
  }

  .icon--chevron-left {
    margin-right: var(--spacer__16);

    stroke: var(--accent__color);
    transition: stroke var(--duration__250) var(--easing__s);
  }

  &--back-light {
    --accent__color: var(--color__tertiary);

    &:hover {
      --accent__color: var(--color__secondary--light-01);
    }
  }

  &--back-dark {
    --accent__color: firebrick;

    &:hover {
      --accent__color: var(--color__secondary--light-02);
    }
  }

  // Fallback for Safari
  &:active,
  &:focus {
    outline: 3px dotted var(--accent__color);
  }

  // HACK for use @supports selector() with SASS
  @supports #{'\selector(*:focus-visible)'} {
    &:focus {
      outline: none;
    }

    &:active,
    &:focus-visible {
      outline: 3px dotted var(--accent__color);
    }
  }

  // Animated Underline
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0.35rem;
    left: 0.5rem;

    height: 2px;
    width: calc(100% - 1rem);
    background-color: currentColor;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 100%;
    transition: all var(--duration__250) var(--easing__s);
    transition-property: transform, color;
  }

  &:hover {
    &::after {
      transform: scale3d(1, 1, 1);
      transform-origin: 100% 0;
    }
  }
}
