/* =====================================================================
  -> BUTTON
===================================================================== */
// BUTTON RESET
button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}

.button {
  display: flex;
  align-items: center;

  color: var(--color__light);
  border-radius: var(--rounded-corners);
  padding: var(--spacer__12) var(--spacer__24);

  .h4 {
    color: var(--color__light);
  }

  &--primary {
    background-color: var(--color__primary);

    &:hover {
      background-color: var(--color__primary--light);
    }
  }

  &--secondary {
    background-color: var(--color__secondary);

    &:hover {
      background-color: var(--color__secondary--light-01);
    }
  }

  &--tertiary {
    background-color: var(--color__tertiary);

    &:hover {
      background-color: var(--color__tertiary--light-01);
    }
  }

  &--danger {
    background-color: var(--color__danger);

    &:hover {
      background-color: var(--color__danger--light);
    }
  }

  &--back-light {
    background-color: transparent;
    padding-left: 0;

    .icon--chevron-left {
      margin-right: var(--spacer__16);
      stroke: var(--color__tertiary);
    }

    .h4 {
      color: var(--color__tertiary);
    }

    &:hover {
      .h4 {
        color: var(--color__tertiary--light-01);
        text-decoration: underline;
      }

      .icon--chevron-left {
        stroke: var(--color__tertiary--light-01);
      }
    }
  }

  &--back-dark {
    color: var(--color__light);
    background-color: transparent;

    .icon--chevron-left {
      margin-right: var(--spacer__16);
      stroke: var(--color__light);
    }

    &:hover {
      color: var(--color__secondary--light-02);

      h4 {
        text-decoration: underline;
      }

      .icon--chevron-left {
        stroke: var(--color__secondary--light-02);
      }
    }
  }
}

/* =====================================================================
  -> ANCHOR
===================================================================== */
.anchor {
  display: flex;
  align-items: center;

  color: var(--color__light);
  border: none;
  border-radius: var(--rounded-corners);
  padding: var(--spacer__8) var(--spacer__8);
  cursor: pointer;
  text-decoration: none;

  &--back-light {
    color: var(--color__secondary);
    background-color: transparent;

    .icon--chevron-left {
      margin-right: var(--spacer__16);
      stroke: var(--color__tertiary);
    }

    &:hover {
      color: var(--color__secondary--light-01);

      h4 {
        text-decoration: underline;
      }

      .icon--chevron-left {
        stroke: var(--color__secondary--light-01);
      }
    }
  }

  &--back-dark {
    color: var(--color__light);
    background-color: transparent;

    .icon--chevron-left {
      margin-right: var(--spacer__16);
      stroke: var(--color__light);
    }

    &:hover {
      color: var(--color__secondary--light-02);

      h4 {
        text-decoration: underline;
      }

      .icon--chevron-left {
        stroke: var(--color__secondary--light-02);
      }
    }
  }
}
