.nav-main {
  padding: 1.5rem 0 0.5rem 1.5rem;
  background-color: var(--color__light);
  border-radius: var(--rounded-corners);

  &__element {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
  }

  &__item {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }

  &__link {
    display: inline-block;

    background-color: var(--color__secondary--light-03);
    border-radius: var(--rounded-corners);
    color: var(--color__secondary);
    padding: var(--spacer__8) var(--spacer__16);
    text-decoration: none;

    &:hover {
      background-color: var(--color__secondary--light-02);
      color: var(--color__secondary);
    }

    &:active,
    &--active {
      background-color: var(--color__secondary);
      color: var(--color__light);

      &:hover {
        background-color: var(--color__secondary--light-01);
        color: var(--color__light);
      }
    }
  }
}
