.category {
  &__item {
    width: fit-content;
  }

  &__link {
    --accent__color: ;
    display: inline-block;

    background-color: var(--color__prim-tint--3);
    border-radius: var(--rounded-corners);
    color: var(--color__prim);
    padding: var(--spacer__8) var(--spacer__16);
    text-decoration: none;
    text-transform: capitalize;

    transition: all var(--duration__250) var(--easing__s);
    transition-property: color, background-color;

    &:hover {
      background-color: var(--color__prim-tint--2);
    }

    // Fallback for Safari
    &:active,
    &:focus {
      outline: 3px dotted var(--color__);
      outline-offset: 2px;
    }

    // HACK for use @supports selector() with SASS
    @supports #{'\selector(*:focus-visible)'} {
      &:focus {
        outline: none;
      }

      &:active,
      &:focus-visible {
        outline: 3px dotted var(--color__button--focus);
        outline-offset: 2px;
      }
    }

    &--active {
      background-color: var(--color__prim);
      color: var(--color__text--white);

      &:hover {
        background-color: var(--color__prim-tint--1);
      }
    }
  }
}

/* =====================================================================
  -> ROADMAP - HOME > FEEDBACK LIST
===================================================================== */
.roadmap-page {
  & .category {
    &__link {
      display: flex;
      align-items: center;

      min-height: 2.5rem;
      margin-left: var(--spacer__24);
    }
  }
}

@include respond-to('medium--s') {
  .home-page__feedback,
  .feedback-page__content {
    & .category {
      &__link {
        display: flex;
        align-items: center;

        min-height: 2.5rem;
        margin-left: var(--spacer__24);
      }
    }
  }
}
