.create {
  &-feedback {
    position: relative;

    &__icon {
      position: absolute;
      top: -2.5rem;
      left: 0;
    }

    &__title {
      margin-bottom: var(--spacer__40);
    }

    &__footer {
      display: flex;
      justify-content: right;

      margin-top: var(--spacer__48);

      & .button:not(:last-child) {
        margin-right: 1rem;
      }
    }

    &__chars-left {
      position: absolute;
      bottom: -2rem;
      right: 0;
    }
  }
}
