.create-comment {
  @include fb_container;

  &__title {
    margin-bottom: var(--spacer__24);
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  .button {
    margin-left: auto;
  }
}
