.feedback {
  &-modal {
    position: relative;

    &__icon {
      position: absolute;
      top: -4.8rem;
      left: 0;
    }

    &__title {
      margin-bottom: var(--spacer__40);
    }

    &__footer {
      display: flex;
      justify-content: right;

      margin-top: var(--spacer__56);

      & .button {
        &--danger {
          margin-right: auto;
        }

        &:last-child {
          margin-left: 1rem;
        }
      }

      &[data-operation-running='true'] {
        color: transparent;
        pointer-events: none;
      }
    }

    &__chars-left {
      position: absolute;
      bottom: -2rem;
      right: 0;
    }
  }
}
