.feedback {
  &-item {
    display: flex;

    @include fb_container;

    &__description {
      order: 2;
      flex-grow: 1;
    }

    &__upvotes {
      order: 1;
      height: fit-content;

      margin-right: var(--spacer__40);
    }

    &__quantity {
      order: 3;

      display: flex;
      align-items: center;

      & .icon--comments {
        margin-right: var(--spacer__12);
      }
    }

    &__link {
      display: block;
      margin-bottom: var(--spacer__16);
      margin-right: 1rem;

      &--anchor {
        text-decoration: none;

        &:link,
        &:visited {
          color: var(--color__tertiary);
        }

        &:hover {
          p,
          h2 {
            color: var(--color__secondary);
          }
        }

        &:active,
        &:focus {
          outline: 3px dotted currentColor;
          outline-offset: 2px;
        }

        // HACK for use @supports selector() with SASS
        @supports #{'\selector(*:focus-visible)'} {
          &:active,
          &:focus-visible {
            outline: 3px dotted currentColor;
            outline-offset: 2px;
          }
        }
      }

      h2,
      p {
        transition: all var(--duration--250) var(--easing--s);
      }

      h2 {
        margin-bottom: var(--spacer__4);
      }

      p {
        color: var(--color__tertiary--light-02);
        margin-right: var(--spacer__40);
      }
    }
  }
}
