@mixin field-focus {
  border-color: var(--color__secondary);
  outline: 1px solid var(--color__secondary);
}

@mixin field-disabled {
  border-color: #ebebe4;
  background-color: #ebebe4;
  cursor: not-allowed;

  &,
  option {
    color: rgba(black, 0.45);
  }
}

@mixin field-error {
  outline: 1px solid var(--color__danger);
}

// FORM RESET
.form {
  &__field {
    --form-field-width: 46ch;

    background-color: var(--color__secondary--light-03);
    border: none;
    border-radius: 0.25rem;
    padding: 0;

    font-family: inherit;
    color: inherit;

    // fallback
    font-size: 16px;
    // Capitalized to prevent Sass thinking it's the Sass max()
    font-size: Max(16px, 1rem);

    max-width: 100%;
    width: var(--form-field-width);

    &:not(textarea) {
      line-height: 1;
      height: 3rem;
    }

    & select {
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 0 var(--spacer__24) 0 0;
      margin: 0;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      color: inherit;
      cursor: inherit;
      line-height: inherit;

      // Remove focus ouline, will ad on alternate element
      outline: none;
    }
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}
// END FORM RESET

// STYLES FOR FEEDBACKTO
.form {
  &__group {
    position: relative;

    & + .form__group {
      margin-top: var(--spacer__24);
    }

    textarea {
      resize: vertical;
      padding: var(--spacer__16) var(--spacer__24);
    }

    &--error {
      color: var(--color__danger);
      position: absolute;
      bottom: -1.75rem;
    }
  }

  &__field {
    width: 100%;

    &:focus,
    &:active {
      @include field-focus;
    }

    &:disabled {
      @include field-disabled;
    }

    &[aria-invalid='true'] {
      @include field-error;
    }
  }
}
