@mixin field-focus {
  border-color: var(--color__secondary);
  outline: 1px solid var(--color__secondary) !important;
}

@mixin field-disabled {
  border-color: #ebebe4;
  background-color: #ebebe4;
  cursor: not-allowed;

  &,
  option {
    color: rgba(black, 0.45);
  }
}

@mixin field-error {
  outline: 1px solid var(--color__danger) !important;
}

// FORM RESET
.form {
  &__field {
    --form-field-width: 46ch;

    background-color: var(--color__secondary--light-03);
    border: none;
    border-radius: 0.25rem;
    padding: 0;

    font-family: inherit;
    color: inherit;

    // fallback
    font-size: 16px;
    // Capitalized to prevent Sass thinking it's the Sass max()
    font-size: Max(16px, 1rem);

    max-width: 100%;
    width: var(--form-field-width);

    &:not(textarea) {
      line-height: 1;
      height: 3rem;
    }

    & select {
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 0 var(--spacer__24) 0 0;
      margin: 0;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      color: inherit;
      cursor: inherit;
      line-height: inherit;

      // Remove focus ouline, will ad on alternate element
      outline: none;
    }
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}
// END FORM RESET

// STYLES FOR FEEDBACKTO
.form {
  &__group {
    position: relative;

    & + .form__group {
      margin-top: var(--spacer__24);

      @include respond-to('medium--s') {
        margin-top: var(--spacer__24);
      }

      &.create-comment__footer {
        margin-top: var(--spacer__20);
      }
    }

    input,
    textarea {
      padding: var(--spacer__16) var(--spacer__24);
    }

    textarea {
      resize: vertical;
    }

    &-title {
      margin-bottom: var(--spacer__32);
    }

    &-subtitle {
      margin-bottom: var(--spacer__16);

      @include respond-to('medium--s') {
        margin-bottom: var(--spacer__12);
      }
    }

    &--error {
      position: absolute;
      top: 104%;

      color: var(--color__danger);
      font-size: 90%;
    }
  }

  &__field {
    width: 100%;
    color: var(--color__tertiary);

    outline: 1px solid var(--color__secondary--light-03);
    transition: outline var(--duration__250) var(--easing__s);

    .select {
      &__control {
        min-height: 3rem;
        font-size: fn_calculate-rem(14);
        background-color: var(--color__secondary--light-03);
        border: none;
        box-shadow: none;
        cursor: pointer;
        padding: var(--spacer__8) var(--spacer__24);

        outline: 1px solid var(--color__secondary--light-03) !important;
        transition: outline var(--duration__250) var(--easing__s);

        svg {
          rotate: (180deg);
          transition: rotate var(--duration__250) var(--easing__s);

          path {
            fill: var(--color__secondary);
          }
        }

        &--menu-is-open {
          svg {
            rotate: (0deg);
          }
        }

        &--is-focused,
        &:hover {
          @include field-focus;
        }
      }

      &__single-value {
        // Fix to avoid cutting text
        overflow: unset;
      }

      &__value-container {
        padding: 0;
      }

      &__indicator-separator {
        display: none;
      }

      &__menu {
        font-family: var(--font__primary);
        font-size: fn_calculate-rem(16);

        margin-top: var(--spacer__16);
        border-radius: 0.75rem;
        box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.4);
      }

      &__option {
        border-bottom: 1px solid rgba(140, 146, 179, 0.25);
        padding: var(--spacer__12) var(--spacer__24);
        cursor: inherit;

        &:last-child {
          border-bottom: none;
        }

        &--is-selected {
          background-color: transparent;
          color: var(--color__tertiary);
          position: relative;

          &::after {
            position: absolute;
            top: 1.2rem;
            right: 1.5rem;
            content: '';
            background-image: url('../../../src/assets/images/check-select.svg');
            background-size: 13px 10px;
            height: 10px;
            width: 13px;
          }
        }

        &--is-focused {
          background-color: transparent;
          color: var(--color__primary);
        }
      }
    }

    &.aria-invalid-true {
      .select {
        &__control {
          @include field-error;

          &:focus,
          &:active,
          &:hover {
            @include field-error;
          }

          path {
            fill: var(--color__danger);
          }
        }
      }
    }

    &::placeholder {
      color: var(--color__complementary--03);
      opacity: 1;
    }

    &:focus,
    &:active,
    &:hover {
      @include field-focus;
    }

    &:disabled {
      @include field-disabled;
    }

    &[aria-invalid='true'] {
      @include field-error;

      &:focus,
      &:active,
      &:hover {
        @include field-error;
      }

      &::placeholder {
        color: var(--color__danger);
      }
    }
  }
}
