%shared-properties {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: dots 1.8s infinite ease-in-out;
}

.loader {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 40vh;
  }

  &__dots {
    --delay: -160ms;
    @extend %shared-properties;

    position: relative;
    top: -2.5em;

    display: block;

    color: var(--color__prim);
    font-size: 10px;
    margin: 0 auto;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: var(--delay);

    &::before,
    &::after {
      content: '';
      position: absolute;

      @extend %shared-properties;
    }

    &::before {
      left: -3.5em;
      animation-delay: calc(var(--delay) * 2);
    }

    &::after {
      left: 3.5em;
    }
  }

  &__content {
    margin-top: var(--spacer__40);
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transform: translateY(15%);

    transition: all var(--duration__350) var(--easing__s);
    transition-property: opacity, transform;

    &--show {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__redirect {
    margin-top: var(--spacer__16);

    a {
      transition: color var(--duration__250) var(--easing__s);
      text-decoration: none;

      &:hover {
        color: var(--color__prim);
      }

      &:active,
      &:focus {
        outline: 3px dotted currentColor;
        outline-offset: 2px;
      }

      // HACK for use @supports selector() with SASS
      @supports #{'\selector(*:focus-visible)'} {
        &:focus {
          outline: none;
        }

        &:active,
        &:focus-visible {
          outline: 3px dotted currentColor;
          outline-offset: 2px;
        }
      }
    }
  }
}

@keyframes dots {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
