.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 350ms var(--easing--s);

  &:empty {
    display: none;
    opacity: 0;
  }

  &__is-open {
    opacity: 1;
  }

  &__wrapper {
    @include fb_container;

    width: 34rem;
    padding: var(--spacer__40);
    padding-top: var(--spacer__56);
  }

  // Animation
  &-transition {
    &-enter {
      transform: translateY(-15%);
      opacity: 0;
    }

    &-enter-active {
      transform: translateY(0);
      opacity: 1;

      transition: all 350ms var(--easing--s);
      transition-property: opacity, transform;
    }

    &-exit {
      transform: translateY(0);
    }

    &-exit-active {
      transform: translateY(-15%);
      opacity: 0;

      transition: all 350ms var(--easing--s);
      transition-property: opacity, transform;
    }
  }
}

#root {
  filter: blur(0);
  transition: filter 250ms var(--easing--s);
}
