#modal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.8);
}

#modal:empty {
  display: none;
}

.modal__wrapper {
  @include fb_container;
  padding: var(--spacer__40);

  width: 34rem;
}
