.roadmap-card {
  border-radius: var(--rounded-corners);
  background-color: var(--color__light);
  padding: 1.5rem;
  padding-top: 1rem;

  &__title {
    display: flex;
    align-items: center;
  }

  &__element {
    width: 100%;
  }

  &__quantity {
    text-align: right;
  }

  .anchor {
    margin-left: auto;
    padding-right: 0;
  }
}
