.sortby {
  display: flex;
  align-items: center;
  flex-basis: 100%;

  max-width: 14rem;
  font-size: fn_calculate-rem(14);
  background-color: var(--color__prim-shade--1);
  border-radius: 0.75rem;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;

  &__label {
    color: var(--color__text--white);
    cursor: inherit;
  }

  &__container {
    flex-grow: 1;

    font-family: var(--font__headings);
    max-width: 8.5rem;

    .sortby__control {
      background-color: var(--color__prim-shade--1);
      border: none;
      box-shadow: none;
      cursor: inherit;
      outline: 3px dotted transparent !important;
      transition: outline var(--duration__250) var(--easing__s);

      &--is-focused {
        outline: 3px dotted var(--color__text--white) !important;

        &:hover {
          outline: 3px dotted var(--color__text--white) !important;
        }
      }

      svg {
        rotate: (180deg);
        transition: rotate var(--duration__250) var(--easing__s);
      }

      &--menu-is-open {
        svg {
          rotate: (0deg);
        }
      }
    }

    .sortby__placeholder,
    .sortby__single-value {
      color: var(--color__text--white);
    }

    .sortby__indicator {
      color: var(--color__text--white);
      padding: 0;
      margin-top: 2px;
    }

    .sortby__indicator-separator {
      display: none;
      visibility: hidden;
    }

    .sortby__menu {
      font-family: var(--font__primary);
      font-size: fn_calculate-rem(16);

      width: 16rem;
      left: -4rem;
      margin-top: var(--spacer__24);
      border-radius: 0.75rem;
      box-shadow: 0px 10px 20px -8px var(--color__prim-shade--5);
      background-color: var(--color__bg--dropdown);
    }

    .sortby__option {
      border-bottom: 1px solid var(--color__prim-shade--4);
      padding: var(--spacer__12) var(--spacer__24);
      cursor: inherit;
      transition: color var(--duration__350) var(--easing__s);

      &:last-child {
        border-bottom: none;
      }

      &--is-selected {
        background-color: transparent;
        color: var(--color__secd);
        position: relative;

        &::after {
          position: absolute;
          top: 1.2rem;
          right: 1.5rem;
          content: '';
          background-image: url('../../../src/assets/images/check-select.svg');
          background-size: 13px 10px;
          height: 10px;
          width: 13px;
        }
      }

      &--is-focused {
        background-color: transparent;
        color: var(--color__secd-tint--1);
      }
    }
  }
}
