.comments {
  &__container {
    padding: var(--spacer__32);
    background-color: var(--color__light);
    border-radius: var(--rounded-corners);

    > *:not(:last-child) {
      margin-bottom: var(--spacer__24);
    }
  }
}
