.header {
  &-main {
    z-index: 2;

    width: 16rem;
    min-width: 16rem;
    margin-right: var(--spacer__32);

    &__container {
      > *:not(:last-child) {
        margin-bottom: var(--spacer__24);
      }
    }

    &__brandmark {
      @include fb_header-container;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      min-height: 9rem;

      background-image: url(../../assets/images/bg-radial.svg);
      background-position: center bottom;
    }

    &__title,
    &__user {
      &--light {
        color: var(--color__text--white);
      }
    }

    &__user {
      display: flex;
      align-items: center;
    }

    &__title {
      margin-bottom: var(--spacer__4);
    }

    &__image {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 2px solid var(--color__text--white);
      margin-right: var(--spacer__12);
    }

    &__button--toggle {
      display: none;
    }

    &__navigation-container {
      > *:not(:last-child) {
        margin-bottom: var(--spacer__24);
      }
    }

    &__sliding-background {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;

      transform-origin: right;
      transform: scaleX(0);
      transition: transform 600ms var(--easing__s);
      transition-delay: 80ms;

      height: 100vh;
      width: 19rem;
      background-color: var(--color__bg--main);

      &::after {
        content: '';
        background-color: black;
        opacity: 0.6;
        position: fixed;
        height: 100%;
        width: 100vw;
        top: 0;
        left: -100vw;
      }
    }

    &__toggle {
      @include fb_header-container;

      display: flex;
    }
  }

  &-secondary {
    &__container {
      display: flex;
      align-items: center;
    }

    & .button {
      &--back-light {
        transform: translateX(-1.5rem);
      }
      &--secondary {
        margin-left: auto;
      }
    }
  }

  &-tertiary {
    margin-bottom: var(--spacer__48);

    &__container {
      display: flex;

      background-color: var(--color__prim-shade--1);
      border-radius: var(--rounded-corners);
      padding: var(--spacer__24);
    }

    &__title {
      h1 {
        color: var(--color__text--white);
      }
    }

    &__create-feedback {
      align-self: center;
      margin-left: auto;
    }
  }
}

/* =====================================================================
  -> RESPONSIVE
===================================================================== */
@include respond-to('medium--l') {
  .header {
    &-main {
      width: 100%;
      margin-right: 0;
      margin-bottom: var(--spacer__32);

      &__container {
        display: flex;

        > * {
          &:first-child {
            flex: 1 1 33%;
          }

          &:last-child {
            flex: 1 1 67%;
          }

          &:not(:last-child) {
            margin-right: var(--spacer__24);
            margin-bottom: 0;
          }
        }
      }

      &__navigation-container {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(2, min-content);

        gap: 1rem;

        > * {
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }

      &__nav-main {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      &__roadmap-card {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
      }

      &__toggle {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
    }
  }
}

@include respond-to('medium--m') {
  .header {
    &-main {
      position: fixed;
      top: 0;
      left: 0;

      height: 4.5rem;
      margin-bottom: 0;

      &__container {
        position: relative;
        z-index: 2;
        display: block;
        height: inherit;

        > *:not(:last-child) {
          margin-right: 0;
        }
      }

      &__brandmark {
        flex-direction: row;
        justify-content: flex-start;

        border-radius: 0;
        background-size: cover;
        background-position: center;
        padding: 0;
        min-height: initial;
        height: inherit;
      }

      &__title {
        align-self: center;
        margin: 0;
        margin-left: var(--spacer__24);
      }

      &__user {
        margin-left: var(--spacer__24);
      }

      &__navigation-container {
        position: absolute;
        right: 0;

        display: block;

        overflow: hidden;
        height: 32rem;
        width: 19rem;
      }

      &__nav-main,
      &__roadmap-card,
      &__toggle {
        max-width: 16rem;
        transform: translateX(19rem);

        transition: transform 600ms var(--easing__s);
      }

      &__nav-main,
      &__roadmap-card,
      &__toggle {
        margin-top: var(--spacer__24);
      }

      &__button--toggle {
        position: fixed;
        top: 1.75rem;
        right: 1.5rem;

        display: flex;
        padding: 2px;
      }
    }

    &-tertiary {
      margin-bottom: var(--spacer__24);

      &__container {
        border-radius: 0px;
      }
    }
  }
}

@include respond-to('medium--s') {
  .header {
    &-main {
      &__nav-main,
      &__roadmap-card,
      &__toggle {
        max-width: 18rem;
        transform: translateX(21rem);
      }

      &__navigation-container,
      &__sliding-background {
        width: 21rem;
      }
    }
  }
}

@include respond-to('small--m') {
  .header {
    &-main {
      &__user {
        margin-left: var(--spacer__24);
      }
    }
  }
}

/* =====================================================================
    -> SLIDE ANIMATION
  ===================================================================== */
.header-main__isOpen {
  .header-main__sliding-background {
    transform: scaleX(1);
    transition-delay: 0s;
  }

  .header-main {
    &__nav-main,
    &__roadmap-card,
    &__toggle {
      transform: translateX(1.5rem);
      transition-delay: 80ms;
    }
  }
}
