#feedback-page__wrapper {
  max-width: 46rem;

  @include respond-to('medium--m') {
    padding: var(--spacer__32) var(--spacer__24) 0;
  }

  > header {
    margin-bottom: var(--spacer__24);
  }
}

.feedback-page {
  &__content {
    & > section:not(:last-child) {
      margin-bottom: var(--spacer__24);
    }
  }
}
