#feedback-page__wrapper {
  max-width: 70ch;

  @include respond-to('medium--s') {
    padding-left: var(--spacer__24);
    padding-right: var(--spacer__24);
  }

  > header {
    margin-bottom: var(--spacer__24);
  }
}

.feedback-page {
  &__content {
    > * {
      animation: fade-in 1s var(--easing__s);
    }

    & > section:not(:last-child) {
      margin-bottom: var(--spacer__24);
    }
  }
}
