#home-page__wrapper {
  display: flex;

  max-width: 69rem;
  margin: 0 auto;
  margin-top: var(--spacer__64);

  @include respond-to('medium--l') {
    display: block;
    margin-top: var(--spacer__32);
  }

  @include respond-to('medium--m') {
    margin-top: 0;
  }
}

.home-page {
  &__feedback {
    position: relative;
    z-index: 1;

    flex-grow: 1;

    & > :not(:last-child) {
      margin-bottom: var(--spacer__24);
    }

    &-topbar {
      position: sticky;
      top: var(--spacer__8);
      z-index: 2;

      @include respond-to('medium--m') {
        top: 0;
      }
    }

    &-list {
      position: relative;
      z-index: 1;

      & > article:not(:last-child) {
        margin-bottom: var(--spacer__24);
      }

      @include respond-to('medium--m') {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    &-empty {
      @include fb_container;

      text-align: center;

      svg {
        margin-top: var(--spacer__48);
      }

      h2 {
        margin-top: var(--spacer__32);
      }

      p {
        &:first-of-type {
          margin-top: var(--spacer__16);
        }

        &:last-of-type {
          margin-bottom: var(--spacer__64);
        }
      }
    }

    @include respond-to('medium--m') {
      padding-top: 4.5rem;
    }
  }
}
