#roadmap-page__wrapper {
  max-width: 69rem;
}

.roadmap-page {
  display: flex;

  > * {
    flex: 1 1 0px;

    &:not(:last-child) {
      margin-right: var(--spacer__32);
    }

    @include respond-to('medium--m') {
      &:not(:last-child) {
        margin-bottom: var(--spacer__40);
        margin-right: 0;
      }
    }
  }

  &__feedback-header {
    margin-bottom: var(--spacer__32);
  }

  &__feedback {
    &-planned {
      --accent__color: var(--color__comp--1);
    }
    &-in-progress {
      --accent__color: var(--color__secd);
    }
    &-live {
      --accent__color: var(--color__comp--2);
    }
  }
}

@include respond-to('large--s') {
  .roadmap-page {
    flex-wrap: wrap;

    > * {
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    & .roadmap-page__feedback-planned {
      margin-right: var(--spacer__32);
    }

    &__feedback-live {
      flex-basis: 100%;
    }
  }
}

@include respond-to('medium--m') {
  .roadmap-page {
    display: block;

    & .roadmap-page__feedback-planned {
      margin-right: 0;
    }

    & section {
      padding-left: var(--spacer__24);
      padding-right: var(--spacer__24);
    }
  }
}

@include respond-to('medium--s') {
  .roadmap-page {
    display: grid;

    &__feedback {
      &-planned,
      &-in-progress,
      &-live {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      &-header {
        display: none;
      }
    }
  }
}
