/* =====================================================================
  -> RESET
===================================================================== */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 100%; // 1rem = 16px
  font-weight: normal;
  font-style: normal;

  @include respond-to('medium--m') {
    font-size: 90%;
  }

  @include respond-to('small--m') {
    font-size: 86%;
  }
} //--> html

/* =====================================================================
  -> GENERAL RULES
===================================================================== */
body {
  color: var(--color__tertiary--light-02);
  background-color: var(--color__secondary--light-03);
} // -> body

#root {
  padding: var(--spacer__40) var(--spacer__32) var(--spacer__80);

  &[aria-hidden='true'] {
    pointer-events: none;
  }

  @include respond-to('medium--l') {
    padding-top: var(--spacer__32);
    padding-bottom: var(--spacer__48);
  }

  @include respond-to('medium--m') {
    padding: 0;
    padding-bottom: var(--spacer__40);
  }
}

/* =====================================================================
  -> HIDE CONTENT
===================================================================== */
[hidden] {
  display: none !important;
}

/*
 * Based on:
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
 */
.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  height: 1px;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
} // -> .visually-hidden

// Hide content but keep it rendered on the DOM to get dimensions with Javascript
.get-size-hidden {
  display: inline-block;
  position: absolute !important;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
} // -> .get-size-hidden

/* =====================================================================
  -> INACTIVE CONTENT
===================================================================== */
.isInactive {
  pointer-events: none;
  cursor: default;
}

/* =====================================================================
  -> PAGE TRANSITION
===================================================================== */
.page-transition {
  position: absolute;
  left: 0;
  right: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
