// Rules for general app layout
#root {
  max-width: 69rem;
  margin: 0 auto;
  padding: var(--spacer__80) 0 var(--spacer__128);
}

#home-page__wrapper {
  display: flex;
}

.home-page {
  &__feedback {
    flex-grow: 1;
  }
}

.header {
  &-main {
    &__user {
      display: flex;
      align-items: center;
    }
  }

  &-third {
    &__container {
      display: flex;
      align-items: center;
    }
  }
}
