.wrapper {
  display: flex;

  max-width: 69rem;
  margin: 0 auto;
  padding: 5rem 0 8rem;
}

.main {
  flex-grow: 1;
}

.header {
  &-main {
    &__user {
      display: flex;
      align-items: center;
    }
  }
}
