// Rules for general app layout

.wrapper {
  display: flex;

  max-width: 69rem;
  margin: 0 auto;
  padding: var(--spacer__80) 0 var(--spacer__128);
}

.main {
  flex-grow: 1;
}

.header {
  &-main {
    &__user {
      display: flex;
      align-items: center;
    }
  }
}
