/* =====================================================================
  -> GENERAL
===================================================================== */
body {
  font-family: var(--font__primary);
  line-height: fn_calculate-lh(23, 16);
  @include fb_text-properties;
}

/* =====================================================================
-> HEADINGS
===================================================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--font__headings);
  @include fb_text-properties;
}

h1,
.h1 {
  font-size: fn_calculate-rem(22);
  line-height: fn_calculate-lh(32, 22);
  letter-spacing: -0.3px;
  color: var(--color__text--white);
}

h2,
.h2 {
  font-size: fn_calculate-rem(20);
  line-height: fn_calculate-lh(29, 20);
  letter-spacing: -0.25px;
  color: var(--color__text--headings);
}

h3,
.h3 {
  font-size: fn_calculate-rem(18);
  line-height: fn_calculate-lh(26, 18);
  letter-spacing: -0.25px;
  color: var(--color__text--headings);
}

h4,
.h4 {
  font-size: fn_calculate-rem(14);
  line-height: fn_calculate-lh(20, 14);
  letter-spacing: -0.2px;
  color: var(--color__text--headings);
}

/* =====================================================================
-> PARAGRAPHS
===================================================================== */
.upvotes__quantity,
.category__link,
.paragraph--semibold {
  @include fb_paragraph-semibold;
}

.feedback__quantity,
.feedback-comment__replyTo,
.paragraph--bold {
  @include fb_paragraph-bold;
}

.feedback-comment__username,
.form__group-subtitle,
.paragraph--small,
.feedback-modal__chars-left {
  @include fb_paragraph-small;
}
