/* =====================================================================
  -> FONTS
===================================================================== */
///////////////////////////////////////////////////////////////////////
//  JOST FAMILY
@font-face {
  font-family: 'jost_regular';
  font-display: swap;
  src: url('../assets/fonts/jost-regular.woff2') format('woff2'),
    url('../assets/fonts/jost-regular.woff') format('woff'),
    url('../assets/fonts/jost-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'jost_semibold';
  font-display: swap;
  src: url('../assets/fonts/jost-semibold.woff2') format('woff2'),
    url('../assets/fonts/jost-semibold.woff') format('woff'),
    url('../assets/fonts/jost-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'jost_bold';
  font-display: swap;
  src: url('../assets/fonts/jost-bold.woff2') format('woff2'),
    url('../assets/fonts/jost-bold.woff') format('woff'),
    url('../assets/fonts/jost-bold.ttf') format('truetype');
}

/* =====================================================================
  -> GENERAL
===================================================================== */
body {
  font-family: var(--font__primary);
  line-height: fn_calculate-lh(23, 16);
  @include fb_text-properties;
}

/* =====================================================================
-> HEADINGS
===================================================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--font__headings);
  @include fb_text-properties;
}

h1,
.h1 {
  font-size: fn_calculate-rem(24);
  line-height: fn_calculate-lh(35, 24);
  letter-spacing: -0.3px;
  color: var(--color__tertiary);
}

h2,
.h2 {
  font-size: fn_calculate-rem(20);
  line-height: fn_calculate-lh(29, 20);
  letter-spacing: -0.25px;
  color: var(--color__tertiary);
}

h3,
.h3 {
  font-size: fn_calculate-rem(18);
  line-height: fn_calculate-lh(26, 18);
  letter-spacing: -0.25px;
  color: var(--color__tertiary);
}

h4,
.h4 {
  font-size: fn_calculate-rem(14);
  line-height: fn_calculate-lh(20, 14);
  letter-spacing: -0.2px;
  color: var(--color__tertiary);
}

/* =====================================================================
-> PARAGRAPHS
===================================================================== */
.upvotes__quantity,
.nav-main__link,
.paragraph--semibold {
  @include fb_paragraph-semibold;
}

.feedback__quantity,
.feedback-comment__replyTo,
.paragraph--bold {
  @include fb_paragraph-bold;
}

.feedback-comment__username,
.form__group-subtitle,
.paragraph--small,
.create-feedback__chars-left {
  @include fb_paragraph-small;
}
