/* =====================================================================
  -> RESPONSIVE BREAKPOINTS
  ===================================================================== */
/* prettier-ignore */
$breakpoints: (
  'large--s': ( max-width:  69em ),     // ------> 1104px
  'medium--l': ( max-width:  64em ),    // ------> 1024px
  'medium--m': ( max-width:  52em ),    // ------> 832px
  'medium--s': ( max-width:  39em ),    // ------> 624px
  'small--m': ( max-width:  26em ),     // ------> 416px
  ) !default;

$breakpoint__medium: map-get($breakpoints, 'medium--m');

:root {
  /* =====================================================================
    -> COLOR PALETTE
  ===================================================================== */
  --color__mode: 'light';

  --color__bg--main: var(--thm-light__primary--tint-3);
  --color__bg--container: var(--thm__pure-white);
  --color__bg--dropdown: var(--thm__pure-white);
  --color__text--headings: var(--thm-light__primary--shade-1);
  --color__text--main: var(--thm-light__primary--shade-3);
  --color__text--highligth: var(--thm-light__primary);
  --color__text--white: var(--thm__pure-white);
  --color__button--focus: var(--thm-light__primary);
  --color__button--focus--alter: var(--thm-light__primary--shade-1);

  --color__prim: var(--thm-light__primary);
  --color__prim-tint--1: var(--thm-light__primary--tint-1);
  --color__prim-tint--2: var(--thm-light__primary--tint-2);
  --color__prim-tint--3: var(--thm-light__primary--tint-3);
  --color__prim-shade--1: var(--thm-light__primary--shade-1);
  --color__prim-shade--2: var(--thm-light__primary--shade-2);
  --color__prim-shade--3: var(--thm-light__primary--shade-3);
  --color__prim-shade--4: var(--thm-light__primary--shade-4);
  --color__prim-shade--5: var(--thm-light__primary--shade-5);
  --color__prim-shade--6: var(--thm-light__primary--shade-6);
  --color__secd: var(--thm-light__secondary);
  --color__secd-tint--1: var(--thm-light__secondary--tint-1);
  --color__comp--1: var(--thm-light__complementary-1);
  --color__comp--2: var(--thm-light__complementary-2);
  --color__comp--3: var(--thm-light__complementary-3);
  --color__dng: var(--thm-light__danger);
  --color__dng-tint--1: var(--thm-light__danger--tint-1);

  /* =====================================================================
    -> MARGINS AND PADDINGS
  ===================================================================== */
  // Base 16
  --spacer__4: 0.25rem;
  --spacer__8: 0.5rem;
  --spacer__12: 0.75rem;
  --spacer__16: 1rem;
  --spacer__20: 1.25rem;
  --spacer__24: 1.5rem;
  --spacer__32: 2rem;
  --spacer__40: 2.5rem;
  --spacer__48: 3rem;
  --spacer__56: 3.5rem;
  --spacer__64: 4rem;
  --spacer__72: 4.5rem;
  --spacer__80: 5rem;
  --spacer__96: 6rem;
  --spacer__112: 7rem;
  --spacer__128: 8rem;
  --spacer__160: 10rem;
  --spacer__176: 11rem;
  --spacer__192: 12rem;
  --spacer__208: 13rem;
  --spacer__256: 16rem;

  /* =====================================================================
    -> FONTS
  ===================================================================== */
  --font__headings: 'jost_bold', serif;
  --font__primary: 'jost_regular', sans-serif;
  --font__primary--semibold: 'jost_semibold', sans-serif;

  /* =====================================================================
    -> GENERAL
  ===================================================================== */
  --rounded-corners: 0.5rem;

  --easing__xl: cubic-bezier(0.8, 0, 0.2, 1);
  --easing__s: cubic-bezier(0.5, 0.7, 0.4, 1);
  --duration__250: 250ms;
  --duration__350: 350ms;

  /* =====================================================================
    -> BREAKPOINTS FOR JS USE
  ===================================================================== */
  --breakpoint__medium--m: #{$breakpoint__medium};
} // -> :root

@media (prefers-color-scheme: dark) {
  :root {
    --color__mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    --color__bg--main: var(--thm-dark__primary--shade-2);
    --color__bg--container: var(--thm-dark__primary--shade-3);
    --color__bg--dropdown: var(--thm-dark__primary--shade-1);
    --color__text--headings: var(--thm-dark__primary--tint-3);
    --color__text--main: var(--thm-dark__primary--tint-2);
    --color__text--highligth: var(--thm-dark__primary--tint-1);
    --color__text--white: var(--thm-dark__primary--tint-3);
    --color__button--focus: var(--thm-dark__primary--tint-3);
    --color__button--focus--alter: var(--thm-dark__primary--tint-3);

    --color__prim: var(--thm-dark__primary);
    --color__prim-tint--1: var(--thm-dark__primary--tint-1);
    --color__prim-tint--2: var(--thm-dark__primary--tint-2);
    --color__prim-tint--3: var(--thm-dark__primary--tint-3);
    --color__prim-shade--1: var(--thm-dark__primary--shade-1);
    --color__prim-shade--2: var(--thm-dark__primary--shade-2);
    --color__prim-shade--3: var(--thm-dark__primary--shade-3);
    --color__prim-shade--4: var(--thm-dark__primary--shade-4);
    --color__prim-shade--5: var(--thm-dark__primary--shade-5);
    --color__prim-shade--6: var(--thm-dark__primary--shade-6);
  }
}

[data-user-color-scheme='dark'] {
  --color__bg--main: var(--thm-dark__primary--shade-2);
  --color__bg--container: var(--thm-dark__primary--shade-3);
  --color__bg--dropdown: var(--thm-dark__primary--shade-1);
  --color__text--headings: var(--thm-dark__primary--tint-3);
  --color__text--main: var(--thm-dark__primary--tint-2);
  --color__text--highligth: var(--thm-dark__primary--tint-1);
  --color__text--white: var(--thm-dark__primary--tint-3);
  --color__button--focus: var(--thm-dark__primary--tint-3);
  --color__button--focus--alter: var(--thm-dark__primary--tint-3);

  --color__prim: var(--thm-dark__primary);
  --color__prim-tint--1: var(--thm-dark__primary--tint-1);
  --color__prim-tint--2: var(--thm-dark__primary--tint-2);
  --color__prim-tint--3: var(--thm-dark__primary--tint-3);
  --color__prim-shade--1: var(--thm-dark__primary--shade-1);
  --color__prim-shade--2: var(--thm-dark__primary--shade-2);
  --color__prim-shade--3: var(--thm-dark__primary--shade-3);
  --color__prim-shade--4: var(--thm-dark__primary--shade-4);
  --color__prim-shade--5: var(--thm-dark__primary--shade-5);
  --color__prim-shade--6: var(--thm-dark__primary--shade-6);
}
