/* =====================================================================
  -> RESPONSIVE BREAKPOINTS
  ===================================================================== */
/* prettier-ignore */
$breakpoints: (
  'large--s': ( max-width:  70em ),    // ------> 1120px
  'medium--l': ( max-width:  64em ),    // ------> 1024px
  'medium--m': ( max-width:  52em ),    // ------> 832px
  'medium--s': ( max-width:  39em ),    // ------> 624px
  'small--m': ( max-width:  26em ),     // ------> 416px
  ) !default;

$breakpoint__medium: map-get($breakpoints, 'medium--m');

:root {
  /* =====================================================================
    -> COLOR PALETTE
  ===================================================================== */
  // Primary
  --color__primary: hsl(282, 83%, 52%);
  --color__primary--light: hsl(282, 83%, 62%);

  // Secondary
  --color__secondary: hsl(230, 76%, 59%);
  --color__secondary--light-01: hsl(230, 76%, 65%);
  --color__secondary--light-02: hsl(230, 100%, 91%);
  --color__secondary--light-03: hsl(230, 86%, 97%);

  // Color Tertiary
  --color__tertiary: hsl(231, 33%, 34%);
  --color__tertiary--light-01: hsl(231, 33%, 50%);
  --color__tertiary--light-02: hsl(224, 20%, 49%);

  // Color Danger
  --color__danger: hsl(0, 67%, 53%);
  --color__danger--light: hsl(0, 67%, 65%);

  // Complementary
  --color__complementary--01: hsl(14, 83%, 74%);
  --color__complementary--02: hsl(204, 94%, 68%);
  --color__complementary--03: hsl(231, 20%, 63%);
  --color__complementary--03--alpha: hsla(231, 20%, 63%, 0.25);
  --color__light: #ffffff;

  /* =====================================================================
    -> MARGINS AND PADDINGS
  ===================================================================== */
  // Base 16
  --spacer__4: 0.25rem;
  --spacer__8: 0.5rem;
  --spacer__12: 0.75rem;
  --spacer__16: 1rem;
  --spacer__20: 1.25rem;
  --spacer__24: 1.5rem;
  --spacer__32: 2rem;
  --spacer__40: 2.5rem;
  --spacer__48: 3rem;
  --spacer__56: 3.5rem;
  --spacer__64: 4rem;
  --spacer__72: 4.5rem;
  --spacer__80: 5rem;
  --spacer__96: 6rem;
  --spacer__112: 7rem;
  --spacer__128: 8rem;
  --spacer__160: 10rem;
  --spacer__176: 11rem;
  --spacer__192: 12rem;
  --spacer__208: 13rem;
  --spacer__256: 16rem;

  /* =====================================================================
    -> FONTS
  ===================================================================== */
  --font__headings: 'jost_bold', serif;
  --font__primary: 'jost_regular', sans-serif;
  --font__primary--semibold: 'jost_semibold', sans-serif;

  /* =====================================================================
    -> GENERAL
  ===================================================================== */
  --rounded-corners: 0.5rem;

  --easing__xl: cubic-bezier(0.8, 0, 0.2, 1);
  --easing__s: cubic-bezier(0.5, 0.7, 0.4, 1);
  --duration__250: 250ms;
  --duration__350: 350ms;

  /* =====================================================================
    -> BREAKPOINTS FOR JS USE
  ===================================================================== */
  --breakpoint__medium--m: #{$breakpoint__medium};
} // -> :root
